body {
	margin: 0;
	padding: 0;
	background-color: #e9e9e9;
	max-width: 1550px;
}

.navbar ul {
	height: 100px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 30px;
	list-style-type: none;
}
.navbar a {
	font-size: 20px;
	text-decoration: none !important;
}
